.brif
  margin-top: 35px
  background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg')
  background-position: left center, center right
  background-size: 50%, contain
  background-repeat: repeat-y, no-repeat
  &-block
    display: flex
  &__interview
    flex-basis: 50%
  &__form
    flex-basis: 50%
    padding-left: 210px
    text-align: center
  &__input
    width: 100%
    max-width: 370px
    margin-top: 10px
    margin-bottom: 10px
  &__button
    height: 70px
    width: 100%
    max-width: 370px
    margin-top: 17px
    margin-bottom: 30px
.interview
  padding-right: 60px
  &__title
    margin-bottom: 45px
    font-size: 22px
    line-height: 31px 
    +bold
  &__subtitle
    display: block
    margin-bottom: 95px
    font-size: 16px
  &-list
    list-style: none
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
      +bold
    &__counter
      display: inline-block
      margin-right: 30px
      width: 35px
      height: 35px
      font-size: 14px
      text-align: center
      line-height: 32px
      border: 2px solid $text-color
      border-radius: 50%
    &__text
      font-size: 18px
      max-width: 390px
.form
  &__title
    margin-bottom: 50px
    line-height: 30px
    font-size: 22px 
    +bold
  &__subtitle
    display: block
    margin-bottom: 45px
    font-size: 16px
  &__description
    display: block
@media (max-width: 1200px)
  .brif
    &__form
      padding-left: 30px
  .interview
    padding-right: 30px
    &__title
      font-size: 20px
      margin-bottom: 20px
    &__subtitle
      margin-bottom: 40px
    &-list
      &__counter
        margin-right: 20px
      &__text
        font-size: 14px
        max-width: 280px
  .form
    &__title
      font-size: 20px
      margin-bottom: 55px
    &__subtitle
      margin-bottom: 45px
@media (max-width: 1000px)
  .brif
    background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg')
    background-position: left center, center right
    background-size: 50%, cover
    background-repeat: repeat-y, no-repeat
@media (max-width: 770px)
  .brif
    padding-top: 25px
    background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg')
    background-position: top center, center bottom
    background-size: 100% 50%, cover
    background-repeat: repeat-x, no-repeat
    &-block
      flex-direction: column
    &__form
      margin-top: 150px
      padding: 0 3px
  .interview
    padding: 0 3px
    &__title
      margin-bottom: 10px
      padding-right: 20px
      font-size: 18px
      line-height: 23px
    &__subtitle
      width: 100%
      max-width: 190px
      margin-bottom: 40px
      font-size: 14px
    &-list
      &__counter
        margin-left: 5px
        margin-right: 10px
      &__text
        max-width: 250px
  .form
    &__title
      margin: 0
      padding-bottom: 20px
      font-size: 18px
      line-height: 26px
    &__subtitle
      font-size: 14px
      line-height: 23px