.hero
 background-color: $hero-color
 padding: 50px 0
 &-block
  justify-content: space-between
  display: flex
 &-text 
  flex-basis: 50%
  color: $text-color
  padding-right: 100px
  &__title
   font-size: 41px
   margin-bottom: 40px
   line-height: 55px
   margin-top: 25px
   +bold
  &__subtitle
   display: inline-block
   font-size: 20px
   +bold
   margin-bottom: 0px
 &-image
  max-width: 570px
  width: 50%
 &-image img 
  width: 100%
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05)
 &-list
  margin-top: 65px
  padding: 0
  list-style: none
  &__item
   display: flex
   align-items: center
   margin-bottom: 25px
   &:last-child
     margin-bottom: 0
  &__image
   display: flex
   justify-content: center
   align-items: center
   margin-right: 30px
   padding: 8px
   width: 40px
   height: 40px
   border: 2px solid $main-color
   border-radius: 50%
  &__text
   max-width: 250px
   +reg 
   font-size: 14px
   line-height: 24px 
@media (max-width: 1200px)
 .hero
  &-block
   flex-direction: column
  &-list
   margin-bottom: 44px
  &-text
   padding-right: 10px
@media (max-width: 768px)
 .hero
  &-text
   &__title     
    font-size: 24px
    line-height: 1.4
    margin-bottom: 13px
   &__subtitle
    font-size: 16px
    margin-bottom: 28px 
  &-list
   &__item
    margin-bottom: 20px
   &__text
    font-size: 12px
   &__image
    margin-right: 15px