.portfolio
 background: $hero-color url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left
 background-size: 50%
 &__title
  max-width: 800px
  margin: auto
  font-size: 30px
  line-height: 45px
  color: $text-color
  padding-bottom: 99px
 &__arrows
  max-width: 120px
  margin: auto
  display: flex
  justify-content: space-between
  margin-top: 68px
.slider
 &__image
  margin: auto
